@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --card-width: 20em;
}

body {
  background-color: var(--light-gray);
  font-family: "Outfit";
  font-size: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.card {
  padding: 1em;
  background-color: var(--white);
  max-width: var(--card-width);
  max-height: min-content;
  border-radius: 1.25em;
  margin: auto;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.05);
}

.qr-img {
  display: block;
  margin: 0 auto 1em;
  margin-bottom: 1.563em;
  width: 18em;
  border-radius: 0.625em;
  transition: all 0.5s ease-out;
}

.qr-img:hover {
  transform: scale(1.05);
}

h1,
p {
  text-align: center;
}

.title {
  font-size: 22px;
  color: var(--dark-blue);
  margin-bottom: 1em;
}

.description {
  font-size: 1em;
  font-weight: 400;
  color: var(--grayish-blue);
  padding: 0 1em;
  margin-bottom: 1.5em;
}

.attribution {
  margin: auto auto 0 auto;
  margin-top: 0.8em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
