@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --card-width: 320px;
}

body {
  background-color: var(--light-gray);
  font-family: "Outfit";
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

/* .placeholder {
  height: 20vh;
} */

.card {
  padding: 16px;
  background-color: var(--white);
  max-width: var(--card-width);
  max-height: min-content;
  border-radius: 20px;
  margin: auto;
}

.qr-img {
  display: block;
  margin: 0px auto 16px;
  margin-bottom: 25px;
  width: 288px;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

.qr-img:hover {
  transform: scale(1.05);
}

h1,
p {
  text-align: center;
}

.title {
  font-size: 22px;
  color: var(--dark-blue);
  margin-bottom: 15px;
}

.description {
  font-size: 15px;
  font-weight: 400;
  color: var(--grayish-blue);
  padding: 0 15px;
  margin-bottom: 30px;
}

.attribution {
  margin: auto auto 0 auto;
  margin-top: 10px;
  /* text-align: center; */
  /* align-self: flex-end; */
  /* justify-content: flex-end; */
}
